body {
  margin: 0;
  font-family: Arial, sans-serif;
}

//TODO: convert -> flex
.nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: white;
  overflow: hidden;
  padding: 10px;

  &__ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  &__li {
    margin-left: 10px;
  }

  &__button {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
  }

  &__img {
    max-width: 10%;
    height: auto;
    margin-right: 20px;
  }

  &__link-text {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
  }
}

@media screen and (max-width: 600px) {
  .nav-bar {
    flex-direction: column;
    align-items: center;
    &__ul {
      flex-direction: column;
      text-align: center;
    }

    &__li {
      float: none;
      margin-left: 0;
    }
  }
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 500px;
  max-height: 500px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 100vh;
  box-sizing: border-box;
  padding: 0px 60px;

  &__heading-2 {
    margin: 0;
  }

  &__input-text,
  &__input-button,
  &__input-password {
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
  }

  &__input-text,
  &__input-password {
    width: 100%;
    height: 50px;
    border: 1px solid rgb(184, 184, 184);
    font-size: 16px;
    border-radius: 4px;
    padding: 0px 20px;
  }

  &__input-button {
    color: #fff;
    width: 100%;
    height: 50px;
    background: rgb(0, 112, 211);
    border: 0;
    border-radius: 4px;
  }

  &__back-icon {
    vertical-align: middle;
    width: 40px;
  }
}

.link-text-color {
  text-decoration: none;
  color: #0070d3;
  font-weight: bold;
}

.init-hide-content {
  display: none;
}

.warning-text {
  color: red;
}

.margin-10 {
  display: inline-block;
  margin: 10px 0px;
}

.pw-note {
  color: #757575;
  font-size: 12px;
}

.form-back-button {
  text-decoration: none;
  color: black !important;
}

.dark-mode {
  background-color: rgb(249, 249, 182);
  color: black;
}
